body{
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.card{
    padding: 2em;
    margin: 1em;
    width: 100%;
    border-radius: 30px;
    max-width: 420px;
    background: #000000d0;
    color: white;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7c6b;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

h1.temp{
    margin: 0;
    margin-bottom: 0.4em;
}

.description{
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
    display: flex;
    align-items: center;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}